.nav-ul {
  background-color: skyblue;
  margin: 0;
}
.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

/* signup */
.appButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: solid 1px;
  cursor: pointer;
}
/* signup */

.register,
.login {
  margin-left: 30%;
}

.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}

.post-list {
  text-align: center;
  margin-top: 50px;
}
.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-template-rows: 250px;
  grid-auto-rows: 250px;
  grid-auto-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}
.wrapper-grid div {
  border: 1px solid black;
  border-radius: 4px;
  margin: 0.5rem;
}

.wrapper-grid div a {
  text-decoration: none;
  color: black;
}
.wrapper-grid p {
  word-wrap: break-word;
  padding: 0 5px;
}
.wrapper-grid p:last-child {
  font-size: 12px;
}

textarea {
  height: 100px;
}

.post-details {
  text-align: center;
}

.update-post {
  display: inline-block;
}

.create-post {
  display: flex;
  justify-content: center;
}
